#samplediv{
    background-color: blue;
    height:300px;
    width: 300px;
}

@media (max-width:1500px) and (min-width:1000px){
    #samplediv{
        background-color:red;
        width:400px;
    }
}
@media(max-width:1000px) and (min-width:750px){
    #samplediv{
        background-color: seagreen;
    }
}
@media(max-width:750px) and (min-width:500px){
    #samplediv{
        background-color: sienna;
    }
}
@media(max-width:500px){
    #samplediv{
        background-color: lightskyblue;
        width:100px;
    }
}
@media (min-width:720px) and (orientation:landscape){/*for mobile devices*/

}